<style>
  body {
      position: relative; 
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #home {padding-top:50px;height:auto;color: #fff; background-color: #b2b2b2;}
  #services {padding-top:50px;height:1200px;color:#000; background-color: #CF9;}
  #aboutus {
	padding-top: 50px;
	height: 700px;
	color: #fff;
	background-color: #666666;
}
  #working {
	padding-top: 50px;
	height: 700px;
	color: #fff;
	background-color: #990033;
}
  #contactus {
	padding-top: 50px;
	height: 700px;
	color: #fff;
	background-color: #33CC33;
}
  #blog {padding-top:50px;height:700px;color: #fff; background-color: #00bcd4;}
  #review {padding-top:50px;height:700px;color: #fff; background-color: #009688;}
  </style>